{% extends "base.html" %}
{% block title %}Coach en développement personnel!{% endblock title %}
{% block content %}
{%if notes %}
    {% for note in notes %}
        <article class="media content-section">
            <div class="media-body">                
                <h2><a class="article-title" href="#">{{ note.title }}</a></h2>
                <div class="article-metadata">
                    <small class="article-author">{{ note.author }}, </small>
                    <small class="article-date">{{ note.creation_date }}</small>
                </div>
                <p class="article-content">{{ note.content }}</p>
            </div>
        </article>
    {% endfor %}
{% else %}
    <header>
       <h3> Coach en développement personnel:</h3>
       <p> Aujourd’hui, le terme de coaching est utilisé de différentes façons. Très en vogue depuis quelques années, le coaching de vie offre un accompagnement personnalisé et global aux individus souhaitant entreprendre des changements dans leur vie. Cette pratique permet à l’individu d’évoluer personnellement. Le coaching puise ses sources dans l’art de la relation et des interactions entre les personnes. En outre, le coaching permet d’accompagner une personne, une équipe, ou même une organisation.</p>
    </header>
{% endif %}
{% endblock %}

